.product
  h3=product.name
  p=product.description

  .prices
    span.price=product.finalPrice+product.getSymbol
    if product.discount > 0
      span.price-before=product.price+product.getSymbol
      span.price-discount=' -'+product.discount+(product.discountType == 'amount' ? product.getSymbol : '%')
  a.btn.btn-secondary(href=product.link) Ver Producto