extends ../layout

block content
	h1.text-center=title
	form.form(method='post', id='user')
		if !register
			.row
				label E-mail o Usuario
				input(type='text', name='login', placeholder='E-mail / Usuario', value=login ? login : '')
			.row
				label Contraseña
				input(type='password', name='password')
			.row
				input(type='submit', value='Login', class='btn btn-secondary')
				a(href='/user/register', class='btn float-right') ¿No estás registrad@?
		else
			.row
				label Usuario
				input(type='text', name='user', placeholder='Usuario', value=login ? login : '')
			.row
				label E-mail
				input(type='text', name='email', placeholder='E-mail', value=email ? email : '')
			.row
				label Aniversario
				input(type='date', name='birthday', value=birthday ? birthday : '')
			.row
				label Contraseña
				input(type='password', name='password')
			.row
				label Repite la Contraseña
				input(type='password', name='password2')
			.row
				input(type='submit', value='Regístrate', class='btn btn-primary')
				a(href='/user', class='btn float-right') ¿Ya estás registrad@?